*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
   min-height:100vh;
    background-color:#0b090a ;
    padding:10px;
}
.todo-list{
    width:100%;
    max-width: 540px;
    background-color: #ffffff;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius:10px ;
}
.todo-list h2{
    color:#161a1d;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-list h2 img{
    width:32px;
    margin-left: 15px;

}
.search{
    display :flex;
    align-items: center;
    justify-content: space-between;
    background-color:#f5f3f4;
    border-radius:30px ;
    padding-left:20px ;
    margin-bottom:25px ;

}
.search:hover{
    border:2px solid #d3d3d3;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
    font-size: 1rem;
    color:#161a1d ;
}
button{
    border: none;
    outline: none;
    padding:16px 50px;
    background:#ba181b ;
    color:#ffffff;
    font-size:1rem;
    cursor:pointer ;
    border-radius: 40px;
}
button:hover{
    border:2px solid #a4161a;
    color:#ffffff;
}
ul li{
    list-style: none;
    font-size: 1.2rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url('/uncheck-images.png');
    background-size:cover ;
    background-position:center ;
    top:12px;
    left:8px;

}
ul li.checked{
    color:#3F2305;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url("/red-check-img.jpeg");
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    color:#e5383b;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color:#f5f3f4;
}